 /* #form-container{
    width: 40%;
    float: left;
    
}

#list-container{
    width: 30%;
}  */

/* #list-container li{
    list-style: none;
}

label{
    display: block;
} */

.validation{
    color: red;
}

.card{
    border: none;
}