#form-container{
    width: 400px;
    float: left;
    
}

#list-container{
    width: 400px;
    float: right;
}

#list-container li{
    list-style: none;
}

label{
    display: block;
}

.validation{
    color: red;
}